body {
  font-size: 50px;
  background-color: Black;
  color: orange;
  font-family: 'Tangerine', cursive;
  text-align: center;
}
header {
  width: 75vw;
  margin: 25px auto;
  background-color: gold;
}
main {
  width: 75vw;
  margin: 25px auto;
  background-color: silver;
}
.col {
  width: 50%;
  background-color: gray;
}
h1 {
  font-size: 100px;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 0;
}
a:visited {
  color: red;
}
a:hover {
  color: whitesmoke;
}
ul{
  list-style-type: none;
}
