body {
  font-size: 50px;
  background-image: url("../images/kingdomHeartsLogo.png");
  background-color: Black;
  color: orange;
  font-family: 'Tangerine', cursive;
}
p {
  font-size: 45px;
  letter-spacing: .5px;
  margin-top: 0;
  text-align: center;
}
a:visited {
  color: red;
}
a:hover {
  color: whitesmoke;
}
