*{
  box-sizing: border-box;
}
body {
  font-size: 50px;
  background-color: Black;
  color: orange;
  font-family: 'Tangerine', cursive;
  text-align: center;
  margin:0
}
.board {
  width: 900px;
  background-color: whitesmoke;
  padding: 50px;
  display:flow-root;
  margin: 25px auto;
}
.red, .black {
  width: 100px;
  height: 100px;
  float: left;
}
.red {
  background-color: tomato;
}
.black {
  background-color: black;
}
.column-contain {
  width: 1000px;
  background-color: orange;
  display: flow-root;
  margin: auto;
}
.header, .footer {
  background-color: blue;
  width: 1000px;
  height: 100px;
  float: left;
  margin: 50px 25px
}
.subheader {
  background-color: blue;
  width: 1000px
  height: 50px
  float: left;
}
.column {
  background-color: blue;
  width: 300px;
  height: 600px;
  float: left;
  margin-top: 25px;
}
.column-margin {
  margin-left: 50px;
  margin-right: 50px;
}
