*{
  box-sizing: border-box;
}
body {
  font-size: 50px;
  background-color: Black;
  color: orange;
  font-family: 'Tangerine', cursive;
  text-align: center;
  margin:0
}
.board {
  width: 900px;
  background-color: whitesmoke;
  padding: 50px;
  display:flow-root;
  margin: 25px auto;
}
.red, .black {
  width: 100px;
  height: 100px;
  float: left;
}
.red {
  background-color: tomato;
}
.black {
  background-color: black;
}
