body {
  font-family: 'Teko', sans-serif;
  font-size: 30px;
}
#signature {
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
}
#bold {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
}
h1, h2, h3 {
  text-align: center;
  text-shadow: black
  
}
